section{


  &.top{
    display: block; background: #ed583a; padding: 90px 0 40px; position: relative;
  }

  &.home{
    display: block; background: #ed583a; padding: 30px 0px; position: relative;
  }


}